body {
  font-family: "Poppins", sans-serif;
  background-color: #d1fff7;
}

/* navbar */
.navbar {
  z-index: 3;
}

.nav-color {
  background-color: #1f8473;
  transition: all ease-in-out 0.3s;
}

.bg-transparent {
  transition: all ease-in-out 0.3s;
}

.nav-link {
  font-size: 16px;
  color: #fff;
}
.nav-link:hover {
  color: #bafbf0;
}
.nav-link.active {
  font-weight: 700;
}

.breadcrumb{
  padding: 0 15px;
}

/* hero */

#hero {
  background: linear-gradient(160deg, #23c7ac, #1f8473);
  height: 100vh;
  width: 100%;
}

.img-hero {
  height: 100%;
  z-index: 1;
}

.hero-tagline h1 {
  color: #fff;
  font-weight: 700;
  font-size: 46px;
}
.hero-tagline h2 {
  color: #fff;
  font-weight: 300;
  font-size: 50px;
}

.hero-tagline p {
  color: #fff;
  font-size: 24px;
  margin-bottom: 1px;
}

.kelas {
  color: #fff;
  font-size: 24px;
  margin-bottom: 1px;
  font-weight: 600;
}



.button-lg-primary {
  width: 237px;
  height: 70px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  color: #1f8473;
  background-color: #fff;
  box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease-in;
}
.button-lg-primary:hover {
  width: 237px;
  height: 70px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background: linear-gradient(160deg, #23c7ac, #155c50);
  box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease-in;
}

/* lihat nilai */

#lihat_nilai {
  padding-top: 80px;
  padding-bottom: 40px;
}

h1 {
  font-weight: 600;
  font-size: 46px;
  color: #1f8473;
}

h2 {
  font-weight: 600;
  font-size: 42px;
  color: #1f8473;
}

h3 {
  font-weight: 600;
  font-size: 24px;
  color: #1f8473;
}

.sub-title {
  font-size: 16px;
  color: #000;
}

.tabell {
  padding: 60px 0;
}

.tabel_siswa {
  padding: 0 0;
}



/* disable href */
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

/* CARI */

#search{
  padding-top: 80px;
}
.input-cari {
  height: 70px;
}

.input-cari:focus {
  border: none;
}

.input-cari .button-secondary {
  width: 200px;
  height: 70px;
  background-color: #1f8473;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
}


.input-cari .button-primary {
  height: 70px;
  background-color: #1f8473;
  color: #fff;
  border: none;
  font-size: 20px;
  font-weight: 500;
}

/* button */
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #1f8473;
}

.btn-edit{
  border: 2px solid #1f8473;
  background-color: transparent;
  color: #1f8473;
  font-size: 14px;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.2s ease-in;
}

.btn-edit:hover{
  border: 2px solid #1f8473;
  background-color: #1f8473;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.2s ease-in;
}
